.education {
    text-align: center;
    padding-bottom: 5vh;
    overflow: none;
    display: table;
    border-spacing: 10px 20px;
    width: 100%;
    padding-top: 5vh;
    img {
        height: 100px;
        width: 100px;
    }
}

.school {
    padding-left: 2vw;
    padding-right: 2vw;
    display: table-cell;
    width: 33vw;
}

.headerWrapper {
    height: 100px;
    display: flex;
    h2 {
        margin: auto;
    }
}

@media screen and (max-width: 650px) {
    .education {
        display: auto;
    }
    .school {
        width: 80%;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
    }
    .headerWrapper {
        height: auto;
    }
}