.frontpage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-image: url("../assets/mainbackgrounds/mainbackground.jpg");
}

.title {
    color: white;
}

.navbar {
    width: 100%;
    height: 10%;
    img {
        float: left;
        width: 10%;
        height: auto;
    }
}

.HeaderBody {
    width: 100%;
    height: 80%;
    display: table;
}

.centeredTitle {
    display: table-cell;
    vertical-align: middle;
}

.click-down-container {
    height: 10%;
    width: 100%;
}

.click-down {
    width: 30%;
    height: 30%;
}