.projContainer {
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    background-color: $backgroundcolor;
}

.imgWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.imgWrapper img {
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.imgWrapper img:hover {
    opacity: 0.15;
    transform: scale(1.2);
}

.imgWrapper:hover .text {
    opacity: 1;
}

.text {
    color: white;
    pointer-events: none;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}